*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://1drv.ms/i/s!Ar065l2YiZmIqGUgohpdnT7LdfYK?embed=1&width=1920&height=1080");
    background-size: cover;
}

.container{
    background-color: #757575;
    opacity: 70%;
    border-radius: 0.5vw;
    padding: 1vw;
    width: 30vw;
    box-shadow: 1px 4px 7px #000000;

}

.input-city{
    border: solid #ffffff;
    border-width: 1px;
    outline: none;
    border-radius: 0.3vw;
    height: 1.5vw;
    font-size: 1vw;
    background-color: transparent;
    color: #ffffff;
    width: 70%;
}

.input-city::placeholder{
    color: #ffffff;
    background-color: #757575;
}

.searh-container{
    width: 30%;
    z-index: 1;
    align-items: center;
}

.search-icon{
    width: 1.75vw;
    cursor: pointer;
    float: right;
    z-index: 1;
}

.header-city{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

.city{
    color: #ffffff;
    font-size: 1vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    text-transform: capitalize;
    /* opacity: 100%; */
}

p{
    text-transform: capitalize;
    font-weight: bold;
}

img{
    width: 3vw;
    opacity: 100%;
}

.wheather{
    font-size: 1vw;
    color: #ffffff;
    font-weight: bold;
    margin-top: 1vw;
}

.container-meio{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container-icon{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: bold;
    align-items: left;
    justify-content: space-around;
    gap: 1vw;
}