*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://1drv.ms/i/s!Ar065l2YiZmIqGUgohpdnT7LdfYK?embed=1&width=1920&height=1080");
    background-size: cover;
}

.container{
    background-color: black;
    opacity: 80%;
    border-radius: 0.5vw;
    padding: 1vw;
    height: 40vh;
    width: 20vw;
}

.input-city{
    border:none;
    outline: none;
    border-radius: 0.3vw;
    height: 1.5vw;
    font-size: 1vw;
    background-color: #7c7c7ceb;
    color: #ffffff;
    width: calc(100%-100px);
}

button{
    width: 100px;
    height: 1.5vw;
    float: right;
    border-radius: 0.3vw;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.city{
    color: #ffffff;
    font-size: 1vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    text-transform: capitalize;
}

p{
    text-transform: capitalize;
}

img{
    width: 3vw;
}

.wheather{
    font-size: 1vw;
    color: #ffffff;
    margin-top: 1vw;
}

.container-meio{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container-icon{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: left;
    justify-content: space-around;
    gap: 1vw;
}