*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://1drv.ms/i/s!Ar065l2YiZmIqGUgohpdnT7LdfYK?embed=1&width=1920&height=1080");
    background-size: cover;
}

.container{
    background-color: transparent;
    opacity: 80%;
    border-radius: 0.5vw;
    padding: 1vw;
    height: 50vh;
    width: 30vw;

}

.input-city{
    border: solid #ffffff;
    border-width: 1px;
    outline: none;
    border-radius: 0.3vw;
    height: 1.5vw;
    font-size: 1vw;
    background-color: transparent;
    color: #ffffff;
    width: 80%;
}

.input-city::placeholder{
    color: #ffffff;
}

.search-icon{
    width: 5%;
    /* float: right; */
    cursor: pointer;
}

.header-city{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.city{
    color: #054e70;
    font-size: 1vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    text-transform: capitalize;
}

p{
    text-transform: capitalize;
    font-weight: bold;
}

img{
    width: 3vw;
}

.wheather{
    font-size: 1vw;
    color: #054e70;
    font-weight: bold;
    margin-top: 1vw;
}

.container-meio{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container-icon{
    display: flex;
    flex-direction: column;
    color: #054e70;
    font-weight: bold;
    align-items: left;
    justify-content: space-around;
    gap: 1vw;
}